:root {
  --body-text-color: #434455;
  --second-main-color: #2e2f42;
  --accent-text-color: #404bbf;
}

/* ------------------General styles*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: var(--body-text-color);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-text-color);
}

.sections-title {
  font-weight: 700;
  color: var(--second-main-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--second-main-color);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-up {
  color: var(--second-main-color);
}

.logo-down {
  color: #f4f4fd;
}

/* --------------------Header */
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--second-main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.header-address-link {
  color: currentColor;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-text-color);
}

/* -------------------Hero Section */
.hero {
  background-color: var(--second-main-color);
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/* ------------------Our approaches */

/* ---------------------Our Team */
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #ffffff;
}

/* ------------------Our Portfolio */

/* -----------------Footer */
.footer {
  background-color: var(--second-main-color);
}

.footer-text {
  color: #f4f4fd;
}
